In [11]:
set_countries = {'col', 'mex', 'bol'}
set_countries

{'bol', 'col', 'mex'}

In [12]:
type(set_countries)

set

In [13]:
set_numbers = {1, 2, 3, 443, 23}
set_numbers

{1, 2, 3, 23, 443}

In [15]:
set_types = {1, 'hola', False, 12.21}
set_types

{1, 12.21, False, 'hola'}

In [17]:
set_from_strings = set('hola')
set_from_strings

{'a', 'h', 'l', 'o'}

In [18]:
set_from_tuples = set(('abc', 'cbv', 'as', 'abc'))
set_from_tuples

{'abc', 'as', 'cbv'}

In [20]:
numbers = [1, 2, 3, '1', '2', 3, 4]
set_numbers = set(numbers)
set_numbers

{1, '1', 2, '2', 3, 4}

In [22]:
unique_numbers = list(set_numbers)
unique_numbers

[1, 2, 3, 4, '1', '2']

In [1]:
def sum(a, b):
    result = a + b
    print(result)
    return result

sum_set = {}

sum_set.add(sum(1,2))

sum_set

AttributeError: 'dict' object has no attribute 'add'